*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

html{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(../images/backgroundStreet.jpg);
    color: #fff;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

header{
    background: black;
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
    border-bottom: 10px gray solid;
}

button {
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
}

h4{
    margin: 50px 0;
}

span{
    margin-top: 50px;
    display: block;
    white-space: nowrap;
}

.col-md-6{
    background: black;
    opacity: .9;
    border: 3px solid gray;
    text-align: center;
    padding: 40px 30px;
}

#pictureid{
    height: 283px;
    width: 100%;
}